/* COMMON RULES */
/* #ADFF2F */

/* MAIN */
.main_row{
    height: calc(100vh - 75px);
}

.bottom_row{
    height: 75px; /* altezza fissa */
}

/* side menu */
.logo img{
    width: 180px;
}

.home_nav a{
    color: white;
    opacity: .7;
    padding: 10px 20px;
    text-decoration: none;
}

.home_nav a:hover{
    opacity: 1;
    border-left: 3px solid #ADFF2F;

}

.home_nav a > img{
    width: 25px;
    margin-right: 10px;
}