/* COMMON RULES */
.bg_black{
    background-color: black;
}

.border_green{
    border-left: 3px solid #ADFF2F;
}

.op_1{
    opacity: 1 !important;
}

/* MAIN */
main{
    height: 100vh;
}

.bottom_row{
    height: 70px; /* altezza fissa */
}

/* side menu */
.side_menu{
    width: 250px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.logo img{
    width: 180px;
}

.logo_xs{
    width: 35px;
}

.home_nav a,
.new_playlist a,
.playlist_box a,
.bottom_info a{
    font-size: small;
    color: white;
    opacity: .6;
    text-decoration: none;
}

.home_nav a:hover,
.new_playlist a:hover,
.playlist_box a:hover,
.bottom_info a:hover{
    opacity: 1;
}

.home_nav a > img{
    width: 25px;
}

/* playlist */
.playlist{
    height: 100%;
    overflow: hidden;
}

.fa-plus{
    background-color: white;
    color: black;
    font-size: 1.3rem;
}

.playlist_box{
    height: 70%;
    overflow-y: auto;
}

/* bottom info */
.user_name img,
.bottom_info img{
    width: 35px;
    padding: 0 2px;
    background-color: #808080;
}

/* MAIN VIEW */
.main_view{
    width: calc(100% - 250px);
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

/* upgrade bar */
.upgrade_bar{
    width: calc(100% - 250px);
    position: fixed;
    top:0;
    background-color: black;
    opacity: .85;
}

.upgrade_bar .btn{
    font-size: small;
}

